# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_HELIX_4ROW_LEFT
    def_bool $(shields_list_contains,helix_4row_left)

config SHIELD_HELIX_4ROW_RIGHT
    def_bool $(shields_list_contains,helix_4row_right)
