#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// -----------------------------------------------------------------------------------------
// | TAB   |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   |  \    |
// | LOWER |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
// | LSHFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   | RET   |
// | LCTL  |  ESC | LALT |  =   | LCMD |     SPACE    |  RAIS |  -   |  [   |   ]   | RSHFT |
			bindings = <
	&kp TAB   &kp Q    	&kp W    &kp E     &kp R  	&kp T  &kp Y     &kp U  	&kp I     &kp O    &kp P    &kp BSLH
	&mo LOWER &kp A    	&kp S    &kp D     &kp F  	&kp G  &kp H     &kp J  	&kp K     &kp L    &kp SEMI &kp SQT
	&kp LSHFT &kp Z    	&kp X    &kp C     &kp V  	&kp B  &kp N     &kp M  	&kp COMMA &kp DOT  &kp FSLH &kp RET
	&kp LCTRL &kp ESC	&kp LALT &kp EQUAL &kp LCMD	&trans &kp SPACE &mo RAISE	&kp MINUS &kp LBKT &kp RBKT &kp RSHFT
			>;
		};
		lower_layer {
// -----------------------------------------------------------------------------------------
// |   `   |  !   |  @   |  #     |  $     |  %   |   ^   |  &    |  *   |  (   |   )   |  \    |
// |<LAYER>|      |C_NEXT|C_BRI_UP|C_VOL_UP|      |  LEFT |  DOWN | UP   | RIGHT|       |       |
// | LSHFT |      |C_PREV|C_BRI_DN|C_VOL_DN|      |  HOME | PG_DN | PG_UP|  END |       | RET   |
// | LCTL  |      | C_PP |        |C_MUTE  |    BACKSPACE | ADJUST|      |      |       | RSHFT |
			bindings = <
	&kp TILDE 	&kp EXCL 	&kp AT 		&kp HASH 		&kp DLLR 		&kp PRCNT	&kp CARET &kp AMPS  	&kp ASTRK &kp LPAR 	&kp RPAR     	&kp BSLH
	&trans		&trans   	&kp C_NEXT	&kp C_BRI_UP	&kp C_VOL_UP    &kp G     	&kp LEFT  &kp DOWN  	&kp UP    &kp RIGHT	&trans       	&trans
	&kp LSHFT 	&trans 	   	&kp C_PREV 	&kp C_BRI_DN	&kp C_VOL_DN    &kp B     	&kp HOME  &kp PG_DN 	&kp PG_UP &kp END   &trans		    &kp RET
	&kp LCTRL  	&trans		&kp C_PP	&trans			&kp C_MUTE 		&trans    	&kp BSPC  &mo ADJUST	&trans	  &trans   	&trans	    	&kp RIGHT
			>;
		};
		raise_layer {
// -----------------------------------------------------------------------------------------
// |       |      |      |        |        |      |   /   |   N7  |  N8  |  N9  |   -   |       |
// |<LAYER>|      |		 |        |        |      |   *   |   N4  |  N5  |  N6  |   +   |       |
// | LSHFT |      |      |        |        |      |  N0   |   N1  |  N2  |  N3  |   ^   |   =   |
// |       |      |      |        |        |     DELETE   | ADJUST|  N0  |  .   |       |  RET  |
			bindings = <
	&trans	 	&trans	 	&trans 		&trans 			&trans 		&trans		&kp FSLH 	&kp N7  	&kp N8 		&kp N9	 		&kp MINUS   &kp BSLH
	&trans		&trans   	&trans		&trans			&trans		&trans    	&kp ASTRK  	&kp N4  	&kp N5  	&kp N6			&kp PLUS    &trans
	&trans	 	&trans 	   	&trans	 	&trans			&trans 		&trans    	&kp N0	 	&kp N1	 	&kp N2		&kp N3			&kp CARET	&kp RET
	&trans 		&trans		&trans		&trans			&trans 		&trans    	&kp DEL		&trans		&kp N0		&kp DOT		  	&trans		&kp EQUAL
			>;
		};
		adjust_layer {
// -----------------------------------------------------------------------------------------
// |   F1  |  F2  |  F3  |   F4   |   F5   |  F6  |   F7  |   F8  |  F9  |  F10 |  F11  |  F12  |
// |       |      |		 |        |        |      |       |       |      |      |       |       |
// |       |      |      |        |        |      |       |       |      |      |       |       |
// |       |      |      |        |        |              |       |      |      |       |       |
			bindings = <
	&kp F1 	&kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F1O &kp F11 &kp F12
	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans
	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans
	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans
			>;
		};
	};
};
